package components

import (
	"time"
	"strconv"
)

templ Footer() {
	<footer class="container flex max-w-[800px] items-center justify-between py-6">
		<span class="font-bold">
			Con 💙 por Fernando Berti - { strconv.Itoa(time.Now().Year()) }
		</span>
	</footer>
}
