package components

import (
	"github.com/carbonyde/tungsten/ui"
)

var class = "dark hidden text-xl"

templ Html() {
	@ui.Html(ui.HtmlProps {
		Lang: "es",
		Title: "Fernando Berti",
		Description: "Comparto mis ideas sobre programación y tecnología",
		Url: "https://berti.sh",
	}) {
		{ children... }
	}
}
