package components

import "main/util"

templ Script(source string, variables map[string]string) {
	@templ.Raw("<script async type='module'>" + util.Build([]string{source}, variables) + "</script>")
}
