package components

templ Toggle() {
	<button id="theme-toggle" class="text-xl">
		<span id="theme-toggle-light" class="hidden">
			🌛
		</span>
		<span id="theme-toggle-dark" class="hidden">
			☀️
		</span>
	</button>
	@Script("./components/toggle.js", map[string]string{})
}
