---
const year = new Date().getFullYear();
---

<footer class="container flex max-w-[800px] items-center justify-between py-6">
  <span class="font-bold">
    Con 💙 por Fernando Berti - {year}
  </span>
</footer>
