---
import Link from "./link.astro";
---

<nav class="flex justify-center gap-6 text-xl md:text-3xl">
    <Link href="/">Home</Link>
    <Link href="/projects">Projects</Link>
    <Link href="/about">About</Link>
    <Link href="/cv" target="_blank">CV</Link>
</nav>
